<!DOCTYPE HTML>
<html>
  <head>
    <title>About Creators</title>
    <meta charset="utf-8">
    <link href="/static/styles/oformlenie.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/container.css" rel="stylesheet" type="text/css">
    <script src="/static/lib/jquery-3.2.0.min.js"></script>
    <script src="/static/scripts/effecti.js"></script>
  </head>
  <body>
    <div class="butoni">
      <A HREF="home.html"><button class="button" onclick="/"> Home </button></A>
      <A HREF="your_profile.html"><button class="button" onclick="/"> My Profile </button></A>
      <A HREF="log_in.html"><button class="button" onclick="/"> LogIn </button></A>
      <A HREF="/"><button class="button" onclick="/"> Program </button></A>
      <A HREF="Create_profile.html"><button class="button" onclick="/"> Create Profile </button></A>
      <A HREF="about_creators.html"><button class="button" onclick="/"> About Creators </button></A>
    </div>
    <div ID="zaglavie"> This is the page about creators. </div>
    <div style="clear: both;">
      <div ID="reclama1"></div>
      <div ID="programa">
        <div ID="za_sazdatelite">
          <div ID="cell3">
            <IMG class="photo"SRC="Top8.JPG"> <!--snimka na sazdatelite-->
          </div>
          <div ID="cell4">
            <p class="text" ID="P1"> From left to right: <br>- Simeon Georgiev(Image Editor) <br>- Yordan Zlatanov(Printing) <br>- Alexander Stoichkov(Animations) <br>- Kristyan Yochev(Server & Security) <br>- Georgi Korchakov(Front end)</p>
          </div>
        </div>
      </div>
      <div ID="reclama2"></div>
    </div>
    <div class="butoni">
      <A HREF="/"><button class="button" onclick="/"> Bulgarian </button></A>
      <A HREF="/"><button class="button" onclick="/"> English </button></A>
    </div>
  </body>
</html>
