<!DOCTYPE html>
<html>
    <head>
        <script src="/static/lib/jquery-3.2.0.min.js"></script>
        <script src="/static/lib/p5.js"></script>
        <script src="/static/lib/p5.dom.js"></script>
        <script src="/static/scripts/layer.js"></script>
        <script src="/static/scripts/mouseEvents.js"></script>
        <script src="/static/scripts/canvasEvents.js"></script>
        <script src="/static/scripts/imageEvents.js"></script>
        <script src="/static/scripts/textEvents.js"></script>
        <script src="/static/scripts/app.js"></script>
        <link href="/static/styles/oformlenie.css" rel="stylesheet" type="text/css">
        <link href="/static/styles/container.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="butoni" style="margin-bottom: 3em;">
        <A HREF="/"><button class="button" onclick="/"> Home </button></A>
        <A HREF="/profile"><button class="button" onclick="/"> My Profile </button></A>
        <A HREF="/login"><button class="button" onclick="/"> LogIn </button></A>
        <A HREF="/edit"><button class="button" onclick="/"> Program </button></A>
        <A HREF="/register"><button class="button" onclick="/"> Create Profile </button></A>
        <A HREF="/about_creators"><button class="button" onclick="/"> About Creators </button></A>
      </div>
    </body>
</html>
