<!DOCTYPE html>
<html>
    <head>
        <script src="/static/lib/jquery-3.2.0.min.js"></script>
        <script src="/static/lib/p5.js"></script>
        <script src="/static/lib/p5.dom.js"></script>
        <script src="/static/scripts/layer.js"></script>
        <script src="/static/scripts/mouseEvents.js"></script>
        <script src="/static/scripts/canvasEvents.js"></script>
        <script src="/static/scripts/imageEvents.js"></script>
        <script src="/static/scripts/textEvents.js"></script>
        <script src="/static/scripts/app.js"></script>
    </head>
    <body>

    </body>
</html>
