<!DOCTYPE HTML>
<html>
  <head>
    <title>ImageMaker</title>
    <meta charset="utf-8">
    <link href="/static/styles/oformlenie.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/container.css" rel="stylesheet" type="text/css">
    <script src="/static/lib/jquery-3.2.0.min.js"></script>
    <script src="/static/scripts/effecti.js"></script>
  </head>
  <body>
    <div class="butoni">
      <A HREF="/"><button class="button" onclick="/"> Home </button></A>
      <A HREF="/profile"><button class="button" onclick="/"> My Profile </button></A>
      <A HREF="/login"><button class="button" onclick="/"> LogIn </button></A>
      <A HREF="/edit"><button class="button" onclick="/"> Program </button></A>
      <A HREF="/register"><button class="button" onclick="/"> Create Profile </button></A>
    </div>
    <div ID="zaglavie"> Welcome in Image Maker!</div>
    <div style="clear: both;">
      <div ID="reclama1"></div>
      <div ID="programa">
        <div style="clear: both;">
          <div ID="cell1">
            <p class="text" ID="P1">Welcome to the new world of photos share.
              Here you can make different photos than many
              other sites with only one click. You can draw on the photo.
              This is amazing, isn't it?</p>
          </div>
          <div ID="cell2">
            <IMG class="photo" SRC="/static/img/Wind_in_her_hairLittle_435533.jpg" align="left">
          </div>
        </div>
        <div style="clear: both;">
          <div ID="cell3">
            <IMG class="photo"SRC="/static/img/Wind_in_her_hairLittle_435533.jpg" align="right">
          </div>
          <div ID="cell4">
            <p class="text" ID="P2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
               ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
               dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
               deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      </div>
      <div ID="reclama2"></div>
    </div>
    <div class="butoni">
      <A HREF="/"><button class="button" onclick="/"> Bulgarian </button></A>
      <A HREF="/"><button class="button" onclick="/"> English </button></A>
    </div>
  </body>
</html>
