#zaglavie{
  text-align: center;
  font-family: fantasy;
  font-size: 40px;

  color: #000000;
  background-color: #inherit;

  padding: 10px;
}

#reclama1{
  width: 10%;
  float: left;

  height: 600px;
  min-width: 10%;
}

#reclama2{
  width: 10%;
  float: right;

  height: 600px;
  min-width: 10%;
}

#programa{
  width: 80%;
  float: left;

  min-height: 300px;
}

/*---oformlenie na glavnata stranica---*/

#cell1{
  float: left;
  width: 50%;
}

#cell2{
  float: right;
  width: 50%;
}

#cell3{
  float: left;
  width: 50%;
}

#cell4{
  float: right;
  width: 50%;
}

#P1{
  text-align: right;
  padding: 20px;
}

#P2{
  text-align: left;
  padding: 20px;
}

/*---oformlenie na your profile---*/

#ime{
  width: 100%;
  display: block;

  font-size: 3em;
  text-align: center;
}

#snimka{
  float: left;
  width: 50%;
}

#opisanie{
  float: right;
  width: 50%;
  max-height: 500px;

  text-align: left;
  font-size: 3em;

  overflow: auto;
}

/*---oformlenie na programa---*/

#buton1{
  background-color: #3b5998;
  color: #ffffff;
}

#buton2{
  background: url(instagram.png);
  color: #ffffff;
}

#buton3{
  background-color: #bf38b7;
  color: #ffffff;
}

#buton4{
  background-color: #af36a5;
  color: #ffffff;
}

#butoni{
  background-color: #fec449;
  border-radius: 20px;

  padding: 10px;
  clear: both;
  text-align: center;

  width: 100%;
  display: block;

  position: fixed;
  bottom: 0;
  left: 0;
}

.button1{
  padding: 10px;
  border-radius: 5px;
  border: 0px black solid;

  background-color: inherif;
  color: inherit;

  font-family: inherit;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
